#bg-AdminStatistic{
    background-color: #FFFFFF;
}



#icon-statistic{
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    margin-bottom: 3%;
}

/* notebook */
@media screen and (min-width: 601px) {
    #header-chart-col{
        display: flex;
        padding-left: 36%;
        font-size: 18px;
        font-weight: bold;
        margin-top: 1%;
    }
    #statistic-number{
        font-size: 40px;
        font-weight: bold;
    }
    #statistic-detail{
        font-size: 14px;
    }
    #statistic-icon{
        font-size: 180%;
        color: rgb(182, 180, 180);
    }
    #col-statictic{
        display: inline-table;
        border: 1px solid rgb(182, 180, 180);
        border-radius: 8mm;
        padding-left: 25px;
        padding-top: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 2%;
        margin-right: 1%;
    }
    #row-statistic{
        display: flex;
        justify-content: center;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    #row-chart{
        display: flex;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    #chart-col{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }
}

/* ipad */
@media screen and (max-width: 768px) {
    #header-chart-col{
        display: flex;
        padding-left: 38%;
        font-size: 18px;
        font-weight: bold;
        margin-top: 1%;
    }
    #row-statistic{
        display: flex;
        justify-content: center;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    #statistic-number{
        font-size: 36px;
        font-weight: bold;
    }
    #statistic-detail{
        font-size: 14px;
    }
    #statistic-icon{
        width: 130%;
        color: rgb(182, 180, 180);
    }
    #col-statictic{
        display: inline-table;
        border: 1px solid rgb(182, 180, 180);
        border-radius: 8mm;
        padding-left: 25px;
        padding-top: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 4%;
        margin-right: 2%;
    }
    #row-chart{
        display: flex;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    #chart-col{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }
}