#bg-course{
    background-color: #ffffff;
}

#row-headercourse {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

#row-headertocourse{
    margin-top: 1%;
    /* margin-bottom: 1%; */
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
}

#font-header {
    font-size: 200%;
    font-weight: bold;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-left: 80px !important;
    color: rgba(255, 253, 253, 0.85) !important;
    font-size: 200%;
    background-color: #32A0CE;
}

#sub-header {
    background-color: #D6ECF5;
    padding: 1%;
    padding-left: 3%;
    font-size: 16px;
    border-radius: 3mm;
}

#icon-chack {
    display: block;
    text-align: end;
}

#video-course1 {
    display: flex;
    text-align: center;
}

#course-menu {
    text-align: center;
    justify-content: center;
    margin-top: 1%;
}

#img-course {
    justify-content: space-between; 
    width: 100% !important;
    max-width: 100% !important;
}

#course1-menu{
    display: flex;
    justify-content: flex-end;
}

#row-btn-coursedetail {
    display: flex;
    justify-content: flex-end;
    padding: 3%;
    padding-right: 0px !important;
}

#img-play {
    width: 20%;
}

#img-button {
    width: 70%;
}

#row-iconcheck{
    align-items: center;
}

#teacher-img {
    border-radius: 50%;
}

/* notebook */
@media screen and (min-width: 601px) { 
    #font-header {
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
        padding-left: 3%;
    }
    #font-header1 {
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
        padding-left: 3%;
        margin-bottom: 1%;
    }
    #course-header{
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
    }
    #font-detail {
        font-size: 16px;
        padding-top: 2%;
        padding-left: 3%;
    }
    #font-detail2 {
        font-size: 16px;
        padding-left: 3%;
        margin-top: 1%;
    }
    #font-detail1 {
        font-size: 16px;
        padding-top: 3%;
        padding-left: 3%;
    }
    #sub-header {
        background-color: #D6ECF5;
        padding: 1%;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 16px;
        border-radius: 3mm;
        display: flex;
        align-items: center;
    }
    #unit-header{
        font-size: 20px;
        font-weight: bold;
        margin-top: 4%;
        color: #6F6AFA;
    }
    #unit-detail{
        font-size: 16px;
        padding-top: 5%;
        padding-right: 4%;
    }
    #video-course1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2%;
        /* margin-top: 3%; */
    }
    #img-play {
        cursor: "pointer";
        font-size: 40px;
        color: #DD403B;
        margin-right: 1%;
    }
    #progress-course{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #progress-course2{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #progress-course3{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #certifi{
        font-size: 20px;
        margin-top: 3%;
    }
    
    #teacher2{
        display: flex;
        justify-content: center;
        font-size: 18px;
        padding-top: 3%;
    }
    #teacher2{
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
        padding-top: 3%;
    }
    #certi-note{
        display: flex;
        justify-content: flex-start;
        padding-top: 3%;
    }
}

/* ipad pro */
@media screen and (max-width: 1025px) {
    #font-header {
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
        padding-left: 3%;
    }
    #font-header1 {
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
        padding-left: 3%;
    }
    #course-header{
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
    }
    #font-detail {
        font-size: 16px;
        padding-top: 5%;
        padding-left: 3%;
    }
    #font-detail2 {
        font-size: 16px;
        padding-left: 3%;
    }
    #font-detail1 {
        font-size: 16px;
        padding-top: 3%;
        padding-left: 3%;
    }
    #sub-header {
        background-color: #D6ECF5;
        padding: 1%;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 16px;
        border-radius: 3mm;
        display: flex;
        align-items: center;
    }
    #unit-header{
        font-size: 20px;
        font-weight: bold;
        margin-top: 4%;
        color: #6F6AFA;
    }
    #unit-detail{
        font-size: 16px;
        padding-top: 5%;
        padding-right: 4%;
    }
    #video-course1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2%;
        /* margin-top: 3%; */
    }
    #img-play {
        cursor: "pointer";
        width: 40px;
        color: #DD403B;
        margin-right: 1%;
    }
    #progress-course{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 20%;
    }
    #progress-course1{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1%;
    }
    #progress-course2{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 20%;
    }
    #progress-course3{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1%;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        font-size: 16px;
        border-radius: 3mm;
        /* margin-bottom: 1%; */
        padding: 5px 10px 5px 75px!important;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
        padding: 5px 16px !important;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        font-size: 12px;
    }
    #teacher2{
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding-top: 3%;
    }
    #certi-note{
        display: flex;
        justify-content: flex-start;
        padding-top: 3%;
    }
}

/* ipad */
@media screen and (max-width: 768px) {
    #font-header {
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
        padding-left: 3%;
    }
    #font-header1 {
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
        padding-left: 3%;
        margin-bottom: 1%;
    }
    #course-header{
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
    }
    #font-detail {
        font-size: 12px;
        padding-top: 5%;
        padding-left: 3%;
    }
    #font-detail2 {
        font-size: 12px;
        padding-left: 3%;
    }
    #font-detail1 {
        font-size: 12px;
        padding-top: 3%;
        padding-left: 3%;
    }
    #sub-header {
        background-color: #D6ECF5;
        padding: 1%;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 12px;
        border-radius: 3mm;
        display: flex;
        align-items: center;
    }
    #unit-header{
        font-size: 20px;
        font-weight: bold;
        margin-top: 4%;
        color: #6F6AFA;
    }
    #unit-detail{
        font-size: 12px;
        padding-top: 5%;
        padding-right: 4%;
    }
    #video-course1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2%;
        /* margin-top: 3%; */
    }
    #img-play {
        cursor: "pointer";
        width: 30px;
        color: #DD403B;
        margin-right: 1%;
    }
    #progress-course{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 20%;
    }
    #progress-course1{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 20%;
    }
    #progress-course2{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 20%;
    }
    #progress-course3{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 20%;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
        /* padding: 10px 16px !important; */
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        font-size: 12px;
    }
    #teacher2{
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding-top: 3%;
    }
    #teacher2{
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        padding-top: 3%;
    }
    #certi-note{
        margin-top: 3%;
        margin-bottom: 2%;
        padding-left: 3%;
    }
}

/* telephone */
@media screen and (max-width: 684px){
    #font-header {
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
        padding-left: 3%;
    }
    #font-header1 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 4%;
        padding-left: 3%;
        margin-bottom: 1%;
    } 
    #course-header{
        font-size: 20px;
        font-weight: bold;
        padding-top: 2%;
    }
    #font-detail {
        font-size: 12px;
        padding-top: 5%;
        padding-left: 3%;
    }
    #font-detail2 {
        font-size: 12px;
        padding-left: 3%;
    }
    #font-detail1 {
        font-size: 12px;
        padding-top: 3%;
        padding-left: 3%;
    }
    #sub-header {
        background-color: #D6ECF5;
        padding: 3%;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 12px;
        border-radius: 3mm;
        display: flex;
        align-items: center;
    }
    #unit-header{
        font-size: 20px;
        font-weight: bold;
        /* margin-top: 4%; */
        color: #6F6AFA;
        padding-left: 3%;
    }
    #unit-detail{
        font-size: 12px;
        padding-top: 1%;
        margin-left: 3%;
        padding-right: 4%;
        margin-bottom: 3%;
    }
    #video-course1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
    }
    #img-play {
        cursor: "pointer";
        height: 20%;
        color: #DD403B;
        margin-right: 1%;
    }
    #progress-course{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 31%;
    }
    #progress-course1{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 35%;
    }
    #progress-course2{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 31%;
    }
    #progress-course3{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3%;
        padding-left: 35%;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        position: relative;
        padding: 12px 16px;
        line-height: 1.5715;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 18px !important;
        border-radius: 3mm;
        /* margin-bottom: 1%; */
    }
    #teacher{
        display: grid;
        justify-content: center;
    }
    #teacher1{
        display: flex;
        justify-content: center;
    }
    #teacher2{
        display: flex;
        justify-content: center;
        font-size: 14px;
        padding-top: 3%;
    }
    #teacher2{
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        padding-top: 3%;
    }
    #certi-note{
        display: flex;
        justify-content: center;
        padding-top: 3%;
    }
    #certi-note1{
        display: flex;
        justify-content: center;
        padding-top: 3%;
    }
}

#btn-certificate{
    margin-top: 3%;
    margin-bottom: 2%;
    padding-left: 3%;
}


#all-collapse{
    margin-top: 2%;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    padding: 12px 16px;
    line-height: 1.5715;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 20px;
    border-radius: 3mm;
    margin-bottom: 0% !important;
}

.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 3mm !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    top: 1.0005px !important;
}

#icon-check{
    display: inline-block;
    padding: 15%;
    align-items: center;
    justify-content: flex-start;
}

#btn-tocourse{
    border-radius: 4mm;
    border: 3px solid #A8A8A8;
    width: max-content;
    color: #000000;
    padding: 5%;
    display: flex;
    align-items: center;
    font-size: 16px;
}

#course-tomenu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
    margin-top: 1%;
}

#teacher{
    margin-top: 2%;
    justify-content: center;
}

#teacher3{
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-top: 3%;
}

#teacher1{
    display: flex;
    justify-content: center;
}

#img-main-course {
    margin-top: 2%;
}