#bg-ExamPost{
    background-color: #ffffff;
}

#body-exam-post {
    margin-left: 6%;
    margin-right: 6%;
}

#box-exam {
    background-color: #F8F9FA;
    /* border: 1px solid #707070; */
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 1px 2px 4px 0px rgb(0 0 0 / 20%);
    border-radius: 2mm;
    margin-bottom: 1.5%;
    display: block;
    min-height: 600px;
    align-items: flex-start;
}

#pagination {
    margin-bottom: 1%;
}

#col-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5%;

}

.ant-layout-content {
    /* -ms-flex: auto; */
    /* flex: auto; */
    min-height: 0;
    background-color: #ffffff;
}

#text-img {
    text-align: center;
}

#img-exam {
    display: flex;
    justify-content: center;
}

.ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
    display: inline-block;
    min-width: 32px;
    height: 50px !important;
    width: 50px !important;
    border-radius: 6mm !important;
}

/* notebook */
@media screen and (min-width: 601px) {
    #body-exam-post {
        margin-left: 15%;
        margin-right: 15%;
    }
    #head-exam-post {
        background-color: #32A0CE;
        color: aliceblue;
        font-size: 28px;
        padding: 0.5%;
        padding-left: 3%;
        border-radius: 3mm;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        box-shadow: 1px 2px 4px 0px rgb(0 0 0 / 20%);
    }   
    #exam-header{
        margin-top: 3%;
        margin-bottom: 3%;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 22px;
        height: fit-content !important;
    }
    #exam-choice{
        font-size: 20px;
        padding-left: 2%;
        padding-right: 2%;
        height: fit-content !important;
        align-items: flex-start !important;
    }
    span.ant-radio + * {
        padding-right: 8px;
        padding-left: 8px;
        font-size: 20px;
    }
    .ant-radio-wrapper {
        margin-bottom: 25% !important;
        align-items: center !important;
    }
    .ant-pagination-item {
        display: inline-grid !important;
        min-width: 32px;
        height: 50px !important;
        width: 50px !important;
        margin-right: 8px;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        outline: 0;
        cursor: pointer;
        font-size: 16px;
    }
    .ant-pagination-item-active {
        font-weight: 500;
        background: #fff;
        border-radius: 4mm !important;
        border-color: #1890ff;
    }
    .ant-pagination-item {
        border-radius: 6mm !important;
    }
    .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link, .ant-pagination-disabled:focus .ant-pagination-item-link {
        color: rgba(0, 0, 0, 0.25);
        border-color: #d9d9d9;
        cursor: not-allowed;
        border-radius: 6mm !important;
    }
    .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
        color: #1890ff;
        border-color: #1890ff;
        border-radius: 6mm !important;
    }
    .ant-pagination-disabled, .ant-pagination-disabled:hover, .ant-pagination-disabled:focus {
        cursor: not-allowed;
        border-radius: 6mm !important; 
    }
    .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
        border-radius: 6mm !important;
    }
    .anticon svg {
        display: block;
    }
    #header-Examport{
        font-size: 28px;
        justify-content: center;
        display: flex;
        margin-bottom: 2%;
        font-weight: bold;
    }
    #score-Exampost{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 2%;
    }
    #progess-Examepost{
        justify-content: center;
        display: flex;
        padding-top: 3%;
        margin-top: 7%;
    }
    #pass-Exampost{
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    #btnpass-Exampost{
        font-size: 16px;
        height: fit-content;
        /* padding: 15%; */
        border-radius: 8.5mm;
        border: 5px solid #7CC9FD;
        color: #0098FF;
        font-weight: bold;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    #rowbtn-Exampost{
        display: flex;
        justify-content: center;
        margin-top: 7%;
        margin-bottom: 3%;
    }
}

/* ipad pro */
@media screen and (max-width: 1025px) {
    #body-exam-post {
        margin-left: 5%;
        margin-right: 5%;
    }    
    #head-exam-post {
        background-color: #32A0CE;
        color: aliceblue;
        font-size: 26px;
        padding: 0.5%;
        padding-left: 3%;
        border-radius: 2mm;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        box-shadow: 1px 2px 4px 0px rgb(0 0 0 / 20%);
    } 
    #exam-header{
        margin-top: 3%;
        margin-bottom: 3%;
        padding-left: 5%;
        padding-right: 2%;
        font-size: 22px;
    } 
    #exam-choice{
        font-size: 19px;
        padding-left: 2%;
        padding-right: 2%;
        height: fit-content !important;
        align-items: flex-start !important;
    }
    span.ant-radio + * {
        padding-right: 8px;
        padding-left: 8px;
        font-size: 20px;
    }
    .ant-pagination-item-active {
        font-weight: 500;
        background: #fff;
        border-radius: 4mm !important;
        border-color: #1890ff;
    }
    .ant-pagination-item {
        border-radius: 4mm !important;
    }
    #header-Examport{
        font-size: 30px;
        justify-content: center;
        display: flex;
        margin-bottom: 2%;
        font-weight: bold;
    }
    #score-Exampost{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
    }
    #progess-Examepost{
        justify-content: center;
        display: flex;
        padding-top: 3%;
    }
    #rowbtn-Exampost{
        display: flex;
        justify-content: center;
        margin-top: 7%;
        margin-bottom: 3%;
    }
    
    .ant-pagination-item {
        display: inline-grid !important;
        min-width: 32px;
        height: 40px !important;
        width: 40px !important;
        margin-right: 8px;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4mm !important;
        outline: 0;
        cursor: pointer;
        font-size: 16px;
    }
    .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
        display: inline-block;
        min-width: 32px;
        height: 40px !important;
        width: 40px !important;
        border-radius: 6mm !important;
    }
    .ant-pagination-item {
        border-radius: 6mm !important;
    }
}

/* ipad */
@media screen and (max-width: 768px) {
    #body-exam-post {
        margin-left: 5%;
        margin-right: 5%;
    }   
    #head-exam-post {
        background-color: #32A0CE;
        color: aliceblue;
        font-size: 24px;
        padding: 0.5%;
        padding-left: 3%;
        border-radius: 2mm;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        box-shadow: 1px 2px 4px 0px rgb(0 0 0 / 20%);
    }  
    #exam-header{
        margin-top: 3%;
        margin-bottom: 3%;
        padding-left: 5%;
        padding-right: 2%;
        font-size: 20px;
    } 
    #exam-choice{
        font-size: 18px;
        padding-left: 2%;
        padding-right: 2%;
        height: fit-content !important;
        align-items: flex-start !important;
    }
    span.ant-radio + * {
        padding-right: 8px;
        padding-left: 8px;
        font-size: 18px;
    }
    .ant-pagination-item-active {
        font-weight: 500;
        background: #fff;
        border-radius: 4mm !important;
        border-color: #1890ff;
    }
    .ant-pagination-item {
        border-radius: 6mm !important;
    }
    #border-score{
        margin-bottom: 3%;
        margin-top: 3%;
        padding-top: 4%;
        padding-bottom: 4%;
        background-color: #ffffff;
        border-radius: 5mm;
        box-shadow: 0 10px 10px rgba(0,0,0,.2);
    }
    #header-Examport{
        font-size: 24px;
        justify-content: center;
        display: flex;
        margin-bottom: 2%;
        font-weight: bold;
    }
    #progess-Examepost{
        justify-content: center;
        display: flex;
        padding-top: 3%;
    }
    #rowbtn-Exampost{
        display: flex;
        justify-content: center;
        margin-top: 7%;
        margin-bottom: 3%;
    }
    .ant-pagination-item {
        display: inline-grid !important;
        min-width: 32px;
        height: 30px !important;
        width: 30px !important;
        margin-right: 8px;
        align-items: center;
        /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4mm !important;
        outline: 0;
        cursor: pointer;
        font-size: 16px;
    }
    .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
        display: inline-block;
        min-width: 32px;
        height: 30px !important;
        width: 30px !important;
        border-radius: 6mm !important;
    }
    .ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
        border-color: #ffffff !important;
    }
    .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        align-items: center !important;
        padding-bottom: 5%;
        /* font-size: 12px; */
        text-align: center;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        outline: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
}

/* telephone */
@media screen and (max-width: 684px){
    #body-exam-post {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    #box-exam {
        background-color: #F8F9FA;
        /* border: 1px solid #707070; */
        padding: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        box-shadow: 1px 2px 4px 0px rgb(0 0 0 / 20%);
        border-radius: 2mm;
        margin-bottom: 1.5%;
        display: block;
        min-height: 370px;
        align-items: flex-start;
    }
    #head-exam-post {
        background-color: #32A0CE;
        color: aliceblue;
        font-size: 18px;
        padding: 0.5%;
        padding-left: 5%;
        border-radius: 1mm;
        margin-bottom: 2%;
        margin-top: 7%;
        padding-top: 1%;
        padding-bottom: 1%;
        box-shadow: 1px 2px 4px 0px rgb(0 0 0 / 20%);
    }
    #exam-header{
        margin-top: 5%;
        margin-bottom: 3%;
        padding-left: 5%;
        padding-right: 2%;
        font-size: 16px;
    }
    #exam-choice{
        font-size: 14px;
        padding-left: 2%;
        padding-right: 2%;
        height: fit-content !important;
        align-items: flex-start !important;
    }
    span.ant-radio + * {
        padding-right: 8px;
        padding-left: 8px;
        font-size: 14px;
    }
    .ant-radio-wrapper {
        margin-bottom: 25% !important;
        align-items: center !important;
    }
    #exam-choice{
        padding-left: 5%;
    }
    #border-score{
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 3%;
        margin-top: 3%;
        padding-top: 4%;
        padding-bottom: 4%;
        background-color: #ffffff;
        border-radius: 5mm;
        box-shadow: 0 10px 10px rgba(0,0,0,.2);
    }
    #header-Examport{
        font-size: 18px;
        justify-content: center;
        display: flex;
        margin-bottom: 2%;
        font-weight: bold;
    }
    #progess-Examepost{
        justify-content: center;
        display: flex;
        padding-top: 3%;
    }
    #pass-Exampost{
        font-size: 16px;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    #btnpass-Exampost{
        font-size: 16px;
        height: fit-content;
        /* padding: 15%; */
        border-radius: 8.5mm;
        border: 5px solid #7CC9FD;
        color: #0098FF;
        font-weight: bold;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #rowbtn-Exampost{
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-bottom: 3%;
    }
    .ant-pagination-item {
        display: flex;
        min-width: 32px;
        height: 18px !important;
        width: 18px !important;
        margin-right: 8px;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4mm !important;
        outline: 0;
        cursor: pointer;
        font-size: 16px !important;
    }
    .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
        display: inline-grid;
        min-width: 32px;
        align-items: center;
        padding-top: 2%;
        justify-content: center;
        height: 32px;
        color: rgba(0, 0, 0, 0.85);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        border-radius: 2px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .ant-pagination.mini .ant-pagination-item {
        min-width: 16px !important;
        height: 24px;
        margin: 0;
        line-height: 22px;
        border: transparent;
    }
    .ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
        border-color: #ffffff !important;
    }
}

#border-score{
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 3%;
    margin-top: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #ffffff;
    border-radius: 5mm;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
}