#bg-form{
    background-color: #ffffff;
}

#row-header-form{
    padding-left: 6%;
    padding-right: 6%;
}

#row-header-form1{
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 2%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #000000;
}

#row-header-form2{
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 2%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #000000;
    border-top: none !important;
}

#logo-header-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#row-form{
    padding-left: 6%;
    padding-right: 6%;
    /* padding-bottom: 2%; */
    margin-bottom: 1%;
}

#col-header-form{
    padding-top: 2%;
    padding-bottom: 2%;
}
#choice-score{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2F1FF;
    padding: 0.5%;
}
#choice-score1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#kate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2F1FF;
}

#textxarea-input{
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 2%;
}

#color-font{
    color: red;
}

#Promoter-radio{
    padding-left: 5%;
    border-left: 0.5px solid #000000;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

#row-thank{
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

#row-placeholder{
    padding: 1%;
}

.ant-radio-wrapper {
    display: flex !important;
    height: 30px;
    line-height: 30px;
    width: fit-content;
}

.MuiFormControlLabel-root {
    cursor: pointer;
    display: contents;
    align-items: center;
    margin-left: -11px;
    margin-right: 0px !important;
    vertical-align: middle;
    font-size: 16px !important;
    -webkit-tap-highlight-color: transparent;
}

/* notebook */
@media screen and (min-width: 601px) {
    #col-header-form{
        font-size: 24px;
        padding-top: 2%;
    }
    #header-form{
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        font-size: 18px;
    }
    #choice-score{
        padding-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2F1FF;
    }
    #row-radio{
        display: flex;
        justify-content: center;
        padding-left: 6.3%;
        align-items: center;
    }
    #row-header-choice{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 18px;
        font-weight: bold;
        /* padding-bottom: 1%; */
    }
    #row-header-choice1{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 18px;
        padding-bottom: 1%;
        margin-top: 1.5%;
    }
    #Service-input{
        width: 1000px;
        font-size: 14px;
        margin: 2%;
        padding: 1%;
        margin-top: 2%;
    }
    #antd-group{
        padding-right: 8px;
        padding-left: 8px;
        font-size: 16px;
    }
    #row-confirmform{
        padding-left: 6%;
        padding-right: 6%;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    #btn-confirmform{
        height: fit-content;
        background-color: #32A0CE;
        border-radius: 2mm;
        width: 100%;
        color: #ffffff;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    #radio-source{
        padding-left: 1.5%;
        font-size: 16px;
        padding-bottom: 0% !important;
    }
    #kate-header{
        font-size: 18px;
    }
    #kate{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2F1FF;
        font-size: 20px;
    }
    #input-por{
        width: 100%;
        margin-left: 2%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
}

/* ipad pro */
@media screen and (max-width: 1025px) {
    #col-header-form{
        font-size: 24px;
        padding-top: 2%;
    }
    #header-form{
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        font-size: 18px;
    }
    #row-radio{
        display: flex;
        justify-content: center;
        padding-left: 7%;
        align-items: center;
    }
    #row-header-choice{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 18px;
        font-weight: bold;
        /* padding-bottom: 1%; */
    }
    #row-header-choice1{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 18px;
        padding-bottom: 1%;
        margin-top: 1.5%;
    }
    #Service-input{
        width: 700px;
        font-size: 14px;
        margin: 2%;
        padding: 2%;
    }
    #row-confirmform{
        padding-left: 6%;
        padding-right: 6%;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    #btn-confirmform{
        height: fit-content;
        background-color: #32A0CE;
        border-radius: 2mm;
        width: 100%;
        color: #ffffff;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    #radio-source{
        padding-left: 1.5%;
        font-size: 16px;
        padding-bottom: 0% !important;
    }
    #kate-header{
        font-size: 16px;
    }#kate{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2F1FF;
        font-size: 18px;
    }
    #input-por{
        width: 100%;
        margin-left: 2%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
}

/* ipad */
@media screen and (max-width: 768px) {
    #col-header-form{
        font-size: 24px;
        padding-top: 2%;
    }
    #header-form{
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        font-size: 14px;
    }
    #row-radio{
        display: flex;
        justify-content: center;
        padding-left: 10%;
        align-items: center;
    }
    #row-header-choice{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 14px;
        font-weight: bold;
        /* padding-bottom: 1%; */
    }
    #row-header-choice1{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 14px;
        padding-bottom: 1%;
        margin-top: 1.5%;
    }
    #Service-input{
        width: 500px;
        font-size: 14px;
        margin: 2%;
        padding: 2%;
    }
    #row-confirmform{
        padding-left: 6%;
        padding-right: 6%;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    #btn-confirmform{
        height: fit-content;
        background-color: #32A0CE;
        border-radius: 2mm;
        width: 100%;
        color: #ffffff;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    #radio-source{
        padding-left: 1.5%;
        font-size: 14px;
        padding-bottom: 0% !important;
    }
    #kate-header{
        font-size: 16px;
    }
    #kate{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2F1FF;
        font-size: 18px;
    }
    #input-por{
        width: 100%;
        margin-left: 2%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    
}

/* telephone */
@media screen and (max-width: 684px){
    #col-header-form{
        font-size: 18px;
        padding-top: 2%;
    }
    #header-form{
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        font-size: 12px;
    }
    #row-radio{
        display: flex;
        justify-content: center;
        padding-left: 4%;
        align-items: center;
    }
    #row-header-choice{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 1%;
    }
    #row-header-choice1{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 14px;
        padding-bottom: 1%;
        margin-top: 1.5%;
    }
    #input-pleased{
        width: 150;
        margin-left: 3%;
        margin-bottom: 2%;
    }
    #Promoter-radio{
        padding-left: 5%;
        border-left: none !important;
    }
    #row-thank{
        padding-left: 6%;
        padding-right: 6%;
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        font-size: 12px;
    }
    #Service-input{
        width: 250px;
        font-size: 12px;
        margin: 2%;
        padding: 2%;
    }
    #row-confirmform{
        padding-left: 6%;
        padding-right: 6%;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    #btn-confirmform{
        height: fit-content;
        background-color: #32A0CE;
        border-radius: 2mm;
        width: 100%;
        color: #ffffff;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    #radio-source{
        padding-left: 1.5%;
        font-size: 12px;
        padding-bottom: 0% !important;
    }
    #kate-header{
        font-size: 14px;
    }
    #row-form{
        padding-left: 6%;
        padding-right: 6%;
        /* padding-bottom: 2%; */
        margin-bottom: 1.5%;
    }
    #kate{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2F1FF;
        font-size: 16px;
    }
    #input-por{
        width: 100%;
        margin-left: 2%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    
}

.ant-radio-inner {
    color: #000000 !important;
}

label {
    display: inline-block;
    margin-bottom: 0rem !important;
}

#row-por{
    align-items: baseline;
}

.MuiFormGroup-root {
    display: flex;
    flex-wrap: inherit !important;
    flex-direction: column;
}
