#bg-home{
    background-color: #FFFFFF;
}

#rowheadHome{
    margin-top: 5%;
}

#headHome{
    font-size: 20px;
    font-weight: bold;
    color: #6F6AFA;
}

#row-coverhome{
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.ant-image-preview-operations {
    display: none !important;
}
