#LoginMobile{
    background-color: #FFFFFF;
}

#login-mobile{
    background-color: #FFFFFF;
}

#LoginHeader {
    margin-top: 10%;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
}

#LoginDescrip{
    color: #7B7B7B;
    font-size: 12px;
    margin-bottom: 7%;
}

#LoginDescrip-si{
    color: #7B7B7B;
    text-decoration-line: underline;
}

#login-headermobile{
    font-size: 14px;
    display: flex;
    margin-bottom: 3%;
    margin-top: 5%;
}

#form-logininput{
    font-size: 14px;
    border-radius: 2mm;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    margin-bottom: 3%;
}

#row-login{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#row-login1{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 10%;
}

#btn-login{
    width: 100%;
    background-color: #2C4893;
    border-radius: 1.5mm;
    color: #ffffff;
    margin-top: 5%;
}

#ft-pass{
    display: flex;
    justify-content: center;
    font-size: 10px;
    text-decoration-line: underline;
    color: #7B7B7B;
}

#link-regis{
    color: #BB0000;
    text-decoration-line: underline;
}